<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="automugshot.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <automugshot.Settings1>
            <setting name="filepathforpic" serializeAs="String">
                <value>C:\Users</value>
            </setting>
            <setting name="overridepic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cameraindex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="controllername" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="defaultgain" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="openfolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cameraspeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="controllerwork" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="filename" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="combinedmugwidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="combinedmugheight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="combinemugshots" serializeAs="String">
                <value>False</value>
            </setting>
        </automugshot.Settings1>
    </userSettings>
</configuration>